#Id_button{
  color: brown;
}
.class_button{
  color: blue;
}
#button1{
  color: black;
  font-size: medium;
  font-weight: 700;
  background-color: lawngreen;
  padding: 5px 15px;
  border-radius: 9px;
  border: none;
}
#button2{
  color: black;
  font-size: medium;
  font-weight: 700;
  background-color: rgb(248, 250, 245);
  padding: 5px 35px;
  border-radius: 9px;
  border: 2px solid black;
}
p2{
  color: red;
}